
@{
    ViewBag.Title = "Index";
  List<OFXUpload.Database.FinancialAccountMovement> movements = (List<OFXUpload.Database.FinancialAccountMovement>)ViewData["movements"];
}



<form action="/ofx/index" method="post" enctype="multipart/form-data">

  <input type="file" name="file" id="file" />
  <input type="submit" value="submit" />
</form>


<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <td>Bank</td>
      <td>Account</td>
      <td>Agency</td>
      <td>Value</td>
      <td>Type</td>
    </tr>
  </thead>
  <tbody>
    @foreach(var item in movements)
    {
      <tr>
        <td>@item.FinancialAccountBalance.FinancialAccount.Bank.Name</td>
        <td>@item.FinancialAccountBalance.FinancialAccount.Number</td>
        <td>@item.FinancialAccountBalance.FinancialAccount.Agency</td>
        <td>@item.Value</td>
        <td>@item.Type</td>
      </tr>
    }
  </tbody>


</table>